<%- include('header'); -%>

        <div id="status"><%= errorMessage %></div>

        <div class="box" id="heading">
            <h1><%= listHead %> List</h1>
            <h3><%=listTitle%></h3>
        </div>

        <div class="box">
            <form action="/delete" method="post">
                <% listItem.forEach(function(i){ %>
                    <div class="item">
                        <input type="checkbox" name="checks" value="<%=i._id%>" onchange="this.form.submit()">
                        <p><%=i.name%></p>
                    </div>
                <% }) %>
            </form>

            <form class="item" action="/<%= listHead %>" method="post">
                <input type="text" name="task" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value="<%=listTitle%>">+</button>
            </form>
        </div>

<%- include('footer'); -%>